@each $sizeName, $size in $sizes {
  @each $dir in $directions {
    .u-padding-#{$dir}-#{$sizeName} {
      padding-#{$dir}: $size !important;
    }
  }
}

.u-inline-block {
  display: inline-block !important;
}

.u-border {
  border: $border-grey-light;
}

.u-border-left {
  border-left: $border-grey-light;
}

.u-border-right {
  border-right: $border-grey-light;
}

.u-border-top {
  border-top: $border-grey-light;
}

.u-border-bottom {
  border-bottom: $border-grey-light;
}

.u-line-height-1 {
  line-height: 1;
}

.u-line-height-1-25 {
  line-height: 1.25;
}

.u-line-height-1-5 {
  line-height: 1.5;
}

.u-line-height-2 {
  line-height: 2;
}

.u-nowrap {
  white-space: nowrap;
}

.u-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 148px;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

