.mail-table {
  margin: 0;
  min-width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
  color: $color-grey-700;

  th {
    font-weight: 700;
    color: $color-grey-600;
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid $color-grey-300;
  }

  td,
  th {
    padding: 8px 14px;
  }

  &.-zebra {
    tbody tr:nth-child(even) td {
      background-color: $color-grey-100;
    }
  }
}
